<!DOCTYPE html>

{% extends 'blog/base.html' %}
    
<html>
    <head>
        <title>Emily Liu - Blog</title>
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "css/bootstrap.css" rel = "stylesheet">
        <link href = "styles.css" rel = "stylesheet">
    </head>
    <body>
        {% block title %}Blog Archive{% endblock %}
        <div class = "navbar navbar-inverse navbar-fixed-top">
            <div class = "container">
                
                <a href = "#" class = "navbar-brand">Emily Liu</a>
                
                <button class = "navbar-toggle" data-toggle = "collapse"data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>

                <div class = "collapse navbar-collapse navHeaderCollapse">
                    <ul class = "nav navbar-nav navbar-right">
                        <li class="active"}><a href = "#">Home</a></li>    
                        <li><a href = "#edu">Education</a></li>   
                        <li><a href = "#port">Portfolio</a></li>   
                        <li><a href = "#socmed">Social Media</a></li> 
                        <li><a href = "#resume">Resume</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <BR><BR><BR>
                 
        {% block title %}Blog Archive{% endblock %}

            {% block content %}
                    <h1>My Blog Archive</h1>
                    {% for post in posts %}
                    <div class = "post">
                            <h2>
                                    <a href="{{post.get_absolute_url}}">
                                            {{post.title}}
                                    </a>
                            </h2>
                            <p>{{post.description}}</p>
                            <p>
                                    Posted on <time datetime="{{post.created|date:"c"}}">{{post.created|date}}</time>
                            </p>
                    </div>
                    {% endfor %}
            {% endblock %}

        
        
                
        <div class="footer" style="padding-top:10px; padding-bottom:10px;">
            <div class="container" align="center" style="color: #7a7a7a;">
                <p class="muted credit">Created 2014 by Emily Liu.</p>
            </div>
        </div>
        
        <script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src = "js/bootstrap.js"></script>
    </body>
</html>